@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  background: linear-gradient(to bottom, #6AB7F5, #FFF);
  min-height: 100vh;
}

main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
}

.pokedex {
  width: 100%;
  max-width: 950px;
  user-select: none;
}

.pokemon-image {
  position: absolute;
  bottom: 50%;
  left: 30%;
  transform: translate(-63%, 20%);
  height: 18%;
}

.pokemon-data-name {
  position: absolute;
  font-weight: 700;
  color: #AAA;
  bottom: 13.2%;
  left: 17.5%;
  font-size: clamp(8px, 5vw, 25px);
}

.pokemon-name {
  color: #222;
  text-transform: capitalize;
  font-size: clamp(8px, 5vw, 18px);
}

.pokemon-data-number {
  position: absolute;
  font-weight: 600;
  color: #AAA;
  bottom: 41.5%;
  left: 14%;
  font-size: clamp(8px, 5vw, 25px);
}

.pokemon-number {
  color: #FFF;
  text-transform: capitalize;
  font-size: clamp(8px, 5vw, 18px);
}

.pokemon-data-type {
  position: absolute;
  font-weight: 600;
  color: #AAA;
  bottom: 25.5%;
  left: 61.5%;
  font-size: clamp(8px, 5vw, 25px);
}

.pokemon-type {
  color: #222;
  text-transform: capitalize;
  font-size: clamp(8px, 5vw, 10px);
}

.pokemon-data-type2 {
  position: absolute;
  font-weight: 600;
  color: #AAA;
  bottom: 25.5%;
  left: 67.5%;
  font-size: clamp(8px, 5vw, 25px);
}

.pokemon-type2 {
  color: #222;
  text-transform: capitalize;
  font-size: clamp(8px, 5vw, 10px);
}

.pokemon-data-height {
  position: absolute;
  font-weight: 600;
  color: #AAA;
  bottom: 13.3%;
  left: 61.1%;
  font-size: clamp(8px, 5vw, 25px);
}

.pokemon-height {
  color: #fff;
  text-transform: capitalize;
  font-size: clamp(8px, 5vw, 14px);
}

.pokemon-data-weight {
  position: absolute;
  font-weight: 600;
  color: #AAA;
  bottom: 13.3%;
  left: 77.2%;
  font-size: clamp(8px, 5vw, 25px);
}

.pokemon-weight {
  color: #fff;
  text-transform: capitalize;
  font-size: clamp(8px, 5vw, 14px);
}


.form {
  position: absolute;
  width: 31%;
  top: 34%;
  left: 59.7%;
}

.input-search {
  width: 100%;
  padding: 15%;
  border: 0;
  outline: none;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1.3rem);
}

.buttons {
  position: absolute;
  bottom: 19.2%;
  left: 41.1%;
  width: 11.5%;
  transform: translate(-57%);
  display: flex;
  gap: 30px;
}

.button {
  width: 50%;
  padding: 4%;
  border: 0;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  border: 2px solid #000;
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}


/* RESPONSIVIDADE */


@media (max-width: 890px) {
  .pokemon-name {
    font-size: clamp(8px, 5vw, 14px);
  }

  .pokemon-height, .pokemon-weight {
    font-size: clamp(8px, 5vw, 10px);
  }

  .pokemon-type {
    font-size: clamp(8px, 5vw, 8px);
  }

  .pokemon-type2 {
    font-size: clamp(8px, 5vw, 8px);
  }

  .input-search {
    font-size: clamp(8px, 5vw, 1rem);;
  }
}

@media (max-width: 685px) {
  .pokemon-data-name {
    bottom: 13.9%;
  }
  
  .pokemon-name {
    font-size: clamp(8px, 5vw, 12px);
  }

  .pokemon-number {
    font-size: clamp(8px, 5vw, 14px);
  }

  .pokemon-data-height,.pokemon-data-weight {
    bottom: 13.9%;
  }
  .pokemon-height, .pokemon-weight {
    font-size: clamp(8px, 5vw, 8px);
  }

  .pokemon-type {
    font-size: clamp(8px, 5vw, 8px);
  }
  .input-search {
    font-size: clamp(8px, 5vw, 0.8rem);;
  }
}

@media (max-width: 425px) {
  .pokemon-data-name {
    bottom: 14.5%;
  }

  .pokemon-data-number {
    left: 15.5%;
  }

  .pokemon-number {
    font-size: clamp(8px, 5vw, 12px);
  }

  .pokemon-data-type {
    bottom: 26%;
    left: 60.2%;
  }
  .pokemon-data-type2 {
    bottom: 26%;
    left: 65.9%;
  }

  .pokemon-height, .pokemon-weight {
    font-size: clamp(4px, 5vw, 6.5px);
  }

  .pokemon-data-weight {
    left: 75.9%;
  }

  .pokemon-data-height, .pokemon-data-weight {
    bottom: 14.5%;
  }

  .form {
    left: 59%;
  }

  .input-search {
    font-size: clamp(8px, 5vw, 0.6rem);
  }

  .buttons {
    bottom: 19.5%;
    left: 40.8%;
    width: 10%;
    gap: 14.5px;
  }
}

@media (max-width: 375px) {
  .pokemon-data-name {
    bottom: 15%;
  }
  .pokemon-name {
    font-size: clamp(8px, 5vw, 8px);
  }

  .pokemon-number {
    font-size: clamp(8px, 5vw, 12px);
  }

  .pokemon-data-type {
    bottom: 26.5%;
    left: 60.2%;
  }
  .pokemon-data-type2 {
    bottom: 26.5%;
    left: 65.9%;
  }

  .pokemon-type, .pokemon-type2 {
    font-size: clamp(4px, 5vw, 5px);
  }

  .pokemon-height, .pokemon-weight {
    font-size: clamp(4px, 5vw, 5.8px);
  }

  .pokemon-data-weight {
    left: 75.3%;
  }

  .pokemon-data-height, .pokemon-data-weight {
    bottom: 15%;
  }

  .form {
    left: 59%;
  }

  .input-search {
    font-size: clamp(8px, 5vw, 0.50rem);
  }

  .buttons {
    bottom: 19.5%;
    left: 40.5%;
    width: 10%;
    gap: 13.5px;
  }
}